footer{
    grid-area: footer;
    margin-bottom: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffef00;
    gap: 6px;
}
footer svg{
    color: #0a66c2;
    background-color: white;
    border-radius: 0.1em;
}
