footer{
    grid-area: footer;
    margin-bottom: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
footer p{
    font-size: 1em;
}
footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffef00;
    gap: 3px;
    font-size: 1em;
    text-shadow: 0 0 0.1em #0000005e;
}
footer svg{
    color: #0a66c2;
    height: 1em;
    width: 1em;
}
footer svg rect{
    color: #ffffff;
}

@media screen and (min-width: 0px) and (max-width: 490px) {
    footer {
        font-size: 17px;
    }
}

@media screen and (min-width: 490px) and (max-width: 768px) {
    footer {
        font-size: 21px;
    }
}

