@import "variables";
*{
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}
body{
    text-align: center;
    background: linear-gradient(45deg, #9185d9 0%, #6c77ff 50%, #55a3f8 100%);
} 
button{
    border: 1px solid rgba(0, 0, 0, 0.508);
    box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.502);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3em;
    background: $botonColor;
    /* width: min-content; */
    padding: 0.2em 1em;
    margin: 1em;
    font-family: inherit;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
}
input {
    text-align: center;
}
