*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    background: linear-gradient(354deg, RGBa(103, 61, 254, 1) 0%, RGBa(83, 107, 245, 1) 50%, RGBa(95, 228, 247, 1) 100%);
} 
button{
    border: 1px solid black;
    box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.502);
}