@import "general";
@import "header";
@import "footer";
@import "variables";
#bodyProductos{
    width: auto;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "mainProductos"
    "footer";
    grid-template-rows: auto 1fr 100px;
    grid-template-columns: auto;
    /* background: linear-gradient(354deg, RGBa(103,61,254,1) 0%, RGBa(83,107,245,1) 50%, RGBa(95,228,247,1) 100%); */
}
main{
    grid-area: mainProductos;

}
#contendedorOferta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0px 0px 0px;
}
.card-productos {
    border: 1px solid #000000b8;
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 0 6px 3px #00000052;
}
.card-productos-titulo {
    text-transform: uppercase;
}
.card-productos-boton {
    background-color: #8ecaff;
    text-transform: uppercase;
    border: 1px solid #0000002b;
    box-shadow: 0 0 2px 0.5px #00000036;
}
.card-productos-boton:active {
    transform: scale(1.1);
    background: #00daff;
}

.card-productos-img{
    width: 150px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #00000042;
}
.card-productos-stock {
    color: #000000a3;
}

.card-productos-precio {
    font-size: 1.3rem;
}
div#resumenCompra {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 30%;
}

table,caption,tr,th,td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
table {
    caption-side: top;
    border-collapse: collapse;
    margin-top: 50px;
    background: #8fe0ffb5;
    box-shadow: 0 0 6px 0.5px #00000080;
    
}
table th{
    background: #aed8ff;
    border-bottom: 3px solid black;
}
caption{
    background-color: #0d4879;
}
#tablaFooter tr{
    text-align: center
}

#contenedorBotonesCompra{
    margin: 18px;
}
#contenedorBotonesCompra button{
        color: #000000;
        background: #8ecaff;
        border: 1px solid #000000ab;
        /* text-shadow: 0px 0px 1px black; */
}

@media screen and (min-width: 0px) and (max-width: 768px){
    table{
        width: 100%;
        font-size: 0.7rem;
    }
    header{
        flex-direction: column;
    }
    header div ul{
    display: flex;
    flex-direction: row;
    }
}
