@import "general";
@import "header";
@import "footer";
@import "variables";
#bodyPuntaje{
    width: auto;
    display: grid;
    grid-template-areas: 
    "header"
    "mainPuntaje"
    "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    /* background: linear-gradient(354deg, RGBa(103,61,254,1) 0%, RGBa(83,107,245,1) 50%, RGBa(95,228,247,1) 100%); */
}
#mainPuntaje{
    grid-area: mainPuntaje;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#puntaje-textoExplicativo{
    text-decoration: underline;
    font-size: 1.4rem;
    margin: 1em 0;
}
#puntaje-textoExplicativo-listaDesordenada {
    list-style-position: inside;
    margin-left: 15px;
}
#puntaje-textoExplicativo-listaDesordenada li{
    text-align: start;
}
#puntaje-textoExplicativo-listaDesordenada span{
    width: 2em;
    height: 2em;
    background: #000000;
    border-radius: 100%;
    color: white;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    padding: 0.2em;
    margin-left: 0.5em;
}
#participantes {
    display: flex;
    justify-content: center;
}
table,caption,tr,th,td{
    border: 1px solid black;
    text-align: center;
    padding: 0.4em;

}
table {
    caption-side: top;
    border-collapse: collapse;
    /* width: 90%; */
    margin: 50px 0px;
    background: #8fe0ffb5;
    box-shadow: 0 0 6px 0.5px black;
}
#tablaBodyParticipantes {
    text-transform: capitalize;
    line-break: anywhere;
}
table th{
    background: #aed8ff;
    border-bottom: 3px solid black;
}
#tablaFooter tr{
    text-align: center
}
.Nuevo{
    background-color: #148aff;
}
tbody tr:not(.Nuevo){
    opacity: 50%;
}
/* .Nuevo>td:nth-child(1)::before{

    content: '✅';
} */
#contenedor-tabla-jugardorIndividual{
    background: #37386d;
    padding: 1.6%;
    padding: 2vmin 3vmin;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #a9f2ff33;
    display: flex;
    flex-direction: column;
}
#contedor-imagen-nombreApellido-tabla-individual {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
img#tabla-individual-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px 0px #000000ba;
    margin: 0 8px;
}
p#nombre-jugardor {
    color: #ffef00;
    width: min-content;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 1em;
}
#contenedor-tabla-jugardorIndividual table{
    margin: 10px 0px;
    background: #8fe0ff;
}
#contenedor-tabla-jugardorIndividual table tr{
    //Esta propiedad es por el otro table, hay que corregir
    opacity: 100%;
}
@media screen and (min-width: 0px) and (max-width: 768px){
    header{
        flex-direction: column;
    }
    header div ul{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width: 0px) and (max-width: 425px){
    table{
        width: 100%;
        font-size: 20px;
    }
}