@import "general";
@import "header";
@import "footer";
@import "variables";
#bodyPuntaje{
    width: auto;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "mainPuntaje"
    "footer";
    grid-template-rows: auto 1fr 100px;
    grid-template-columns: auto;
    font-size: 1.1rem;
    /* background: linear-gradient(354deg, RGBa(103,61,254,1) 0%, RGBa(83,107,245,1) 50%, RGBa(95,228,247,1) 100%); */
}
#mainPuntaje{
    grid-area: mainPuntaje;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#puntaje-textoExplicativo{
    text-decoration: underline;
    font-size: 25px;
    margin: 1em 0;
}
#puntaje-textoExplicativo-listaDesordenada li{
    text-align: start;
}
#puntaje-textoExplicativo-listaDesordenada span{
    width: 2em;
    height: 2em;
    background: #000000;
    border-radius: 100%;
    color: white;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    padding: 0.2em;
    margin-left: 0.5em;
}
#participantes {
    display: flex;
    justify-content: center;
}
table,caption,tr,th,td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;

}
table {
    caption-side: top;
    border-collapse: collapse;
    /* width: 90%; */
    margin: 50px 0px;
    background: #8fe0ffb5;
    box-shadow: 0 0 6px 0.5px black;
}
table th{
    background: #aed8ff;
    border-bottom: 3px solid black;
}
#tablaFooter tr{
    text-align: center
}
.Nuevo{
    background-color: #148aff;
}
tbody tr:not(.Nuevo){
    opacity: 50%;
}
/* .Nuevo>td:nth-child(1)::before{

    content: '✅';
} */

@media screen and (min-width: 0px) and (max-width: 768px){
    .swal2-container.swal2-center>.swal2-popup {
        font-size: 13px;;
    }
    header{
        flex-direction: column;
    }
    header div ul{
        display: flex;
        flex-direction: row;
    }
    table tbody{
        line-break: anywhere;
    }
}
@media screen and (min-width: 0px) and (max-width: 425px){
    table{
        width: 100%;
    }
    table tbody{
        line-break: anywhere;
    }
}